@model IEnumerable<DotNetSheff.MongoDbBlog.Models.Comment>

<h3>Comments</h3>
@if (Model.Any())
{
    <table width="100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }

    </table>
}
else
{
  <p>Currently no comments</p>
}